.material-symbols-outlined {
  padding: none;
  margin: none;
  font-size: 45px;
  margin-bottom: -20px;
}

.flex {
  padding-top: 5px;

  padding-left: 20px;
}

h1 {
  padding-right: 800px;
}

p {
  padding-right: 10px;
  padding-top: 10px;
}
